p{
  color: white;
  font-size: 45px;
  font-family: 'San Francisco', Helvetica, Arial, san-serif;
}
body{
  background-color: rgb(28, 28, 28);
}

.buttons-container{
  width: 250px;
}

.display{
  font-size: 25px;
  display: flex;
  align-items: center;
  justify-content: left;
}

button{
  width: 50px;
  height: 50px;
  margin-left: 5px;
  margin-top: 5px;
  color: white;
  background-color: rgb(80, 80, 80);
  border: none;
  border-radius: 25px;
  cursor: pointer;
  font-size: 16px;
  font-weight: bold;
}

.right-button{
  background-color: rgb(255, 149, 0);
}
